
@media screen and (min-height:600px){
.imageposition{
	position:absolute;
	top:30%;
	height:25%;
	width:25%;
	left:38%;
}
.Background{
	position:absolute;	
	top:60%;
	height:70%;
	width:100%;
	}
body{
	margin:0;
	padding:0;
	font-family:montserrat;
	height:fit-content;
	width:fit-content;}
.texth1{
	position:relative;
	top:1000px;
}
.textp1{
	padding:10px;
	position:relative;
	top:800px;
	font-size:20px;
}
.texth2{
	position:relative;
	top:800px;
	font-size:30px;
}
.marquee{
	position:relative;
	top:800px;
	font-size:30px;
}
.map{
	position:relative;
	top:650px;
	height:100;
	width:100%;
}
.texth3{
	position:relative;
	top:650px;
	font-size:30px;
}
.texth4{
	position:relative;
	top:650px;
	font-size:30px;
}
.textp2{
	position:relative;
	padding:10px;
	top:650px;
	font-size:20px;
	text-align:center;
}
.textp3{
	position:relative;
	top:650px;
	font-size:20px;
} }
